.row
    .col-xs-10
        shoppingListEdit((ingredient)='addNewIngredient($event)')
        hr
        ul.list-group
            a.list-group-item(*ngFor='let ingredient of ingredients', style='cursor: pointer')
                | {{ ingredient.name }} ({{ingredient.amount}})
