.row
    .col-xs-12
        h1.no-margin-top() {{ recipie.name }}
.row
    .col-xs-12
        .btn-group(appDropDown)
            button.btn.btn-primary.dropdown-toggle(type='button') Manage Recipe #[span.caret]
            ul.dropdown-menu
                li
                    a(role='button', (click)='onAddIngredientsToShoppingList()') Add Ingredients to Shopping List
                    a(role='button') Edit Recipie
                    a(role='button') Delete Recipie
.row
    .col-xs-12
        | {{ recipie.description }}
.row
    .col-xs-12
        h4 List of necessary ingredients:
        table.table
            thead
                tr
                    th(scope='col') Ingredient
                    th(scope='col') Amount
            tbody
                tr(*ngFor='let ingredient of recipie.ingredients')
                    td {{ ingredient.name }}
                    td {{ ingredient.amount }}
        