.row
    .col-xs-12
        h1.no-margin-top() {{ recipie.name }}
.row
    .col-xs-12
        .btn-group(appDropDown)
            button.btn.btn-primary.dropdown-toggle(type='button') Manage Recipe #[span.caret]
            ul.dropdown-menu
                li
                    a Add Ingredients to Shopping List
                    a Edit Recipie
                    a Delete Recipie
.row
    .col-xs-12
        | {{ recipie.description }}
        