nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='header-navbar', aria-expanded='false')
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Recipie Book
    .collapse.navbar-collapse(id='header-navbar')
      ul.nav.navbar-nav
        li(routerLinkActive='active')
          a(routerLink='/recipies') Recipies
        li(routerLinkActive='active')
          a(routerLink='/shopping-list') Shopping List
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(role='button', appDropDown) Manage #[span.caret]
            ul.dropdown-menu
              li
                a Save Data
              li
                a Fetch Data
