.row
    .col-sm-6
        button.btn.btn-success.margin-md-bottom.padding-lg-left([routerLink]="['new']") New Recipie
.row.row-eq-height
    .col-sm-6
        .btn.btn-success.margin-sm-bottom() New Recipie
        recipieList
    .col-sm-6
        router-outlet
