.row.row-eq-height
    .col-sm-6
        recipieList()
    .col-sm-6
        recipieDetail(*ngIf='recipie; else detailInfoMessage', [selectedRecipie]='recipie')
        ng-template(#detailInfoMessage)
            .alert.alert-info.align-middle(role='alert')  Select a #[strong recipie] to show its details!
